:root{
    --color-primary:#ff7b02;
    --color-primary-variant:#e5a55d;
    --color-bg-1:#000e17;
    --color-bg-2:#001e2d;
    --color-bg-3:#012734;
    --color-bg-4:#003347;
    --color-light:#85a2b2;
    --color-white:hsl(0,0%,90%);

    /* PURPLE THEME */
    /* 
    --color-primary:#ff7b02;
    --color-primary-variant:#e5a55d;
    --color-bg-1:#140021;
    --color-bg-2:#1e0032;
    --color-bg-3:#25003e;
    --color-bg-4:#36005a;
    --color-light:#d0b8e0;
    --color-white:hsl(0,0%,90%);
    */

    --container-width-lg:88%;
    --container-width-md:92%;

    --transition:all 400ms ease;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat',sans-serif;
    background: var(--color-bg-3);
    color:var(--color-light) ;
    line-height: 1.7;
}
h1,h2{
    line-height: 1.1;
    font-weight: 400;
}
h1{
    font-size: 4rem;
    color: var(--color-white);
}
h2{
    font-size: 3.5rem;
}
a{
    color:var(--color-light) ;
    transition: var(--transition);
}
a:hover{
    color: var(--color-primary);
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 2160px;
   /* background: var(--color-bg-3);*/
}
img{
   display: block;
   object-fit: cover;
   width: 100%;
}


nav{
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
   background: var(--color-bg-3);
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__toggle-btn{
    display: none;
}
.nav_logo{
    width: 7rem;
    height: 1rem;
    margin-top:-5rem ;
}
.nav__links{
    display: flex;
    gap: 4rem;
}
.nav__socials{
    display: flex;
    gap: 1rem;
    z-index: 100;
}
.nav__socials a{
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
}

header{
    width: 98vw;
    height: 100vh;
    position: relative;
    top: 0;
    background:var(--color-bg-3) ;
    overflow: hidden;
}
.header__container{
    display: grid;
    grid-template-columns:42% 52% ;
    gap: 6%;
    margin-top: 10rem;
    position: relative;
}
.header__image-bg{
    background: var(--color-bg-4);
    height:12rem;
    width:16rem ;
    position: absolute;
}
.header__image-lg{
    width: 29rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: var(--transition);
}
.header__image-sm{
    width: 28rem;
    height: 28rem;
    overflow: hidden;
    position: absolute;
    left: 6rem;
    top: 6rem;
    transition: var(--transition);
}
.header__left:hover .header__image-sm{
    opacity: 0;
}
.header__left:hover .header__image-lg{
    filter:saturate(1) brightness(1);
    border: solid 1rem var(--color-bg-4);
    top: 0;
    left: 0;
}
.header__head{
    display: flex;
    gap:2rem;
    align-items: flex-start;
}
.empty{
    height: 3.5rem;
    width: 18rem;
    background: var(--color-bg-2);
    border-radius: 1.75rem;
    margin-bottom: 3.5rem;
}
.header__tag{
    color: var(--color-primary-variant);
}
.header__right p{
    margin-top: 2rem;
    width: 85%;
}
.header__btn-md{
    display: none;
}
.header__frames{
    position: absolute;
    top: 88vh;
    right: 44rem;
    transition: var(--transition);
}
.header__frame{
    width: 14rem;
    border: 0.4rem solid var(--color-bg-4);
    position: absolute;
    transform: rotate(-110deg);
    transform-origin: bottom left;
    transition: var(--transition);
}
.header__frame:nth-child(2){
    transform: rotate(-60deg);
    transform-origin: bottom left;
    top: 2rem;
    left: -1rem;
}
.header__frames:hover .header__frame{
    transform: rotate(0);
}
.contact__btn{
    color: var(--color-bg-1);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: var(--transition);
}
.header__btn{
    background: var(--color-primary-variant);
    position: absolute;
    right: 6%;
    bottom:-3rem ;
}
.header__btn:hover{
    color: var(--color-bg-1);
    transform: rotate(90deg);
}
.contact__btn i{
    font-size: 3.5rem;
    position: absolute;
}
.contact__btn p{
    font-size: 1rem;
    font-weight: 600;
    width: 18rem;
    height: 10rem;
}
#about{
    margin-top: 18rem;
}
.about__container{
    display: grid;
    grid-template-columns: 36rem auto;
    gap: 3rem;
    position: relative;
}
.about__title{
    position: absolute;
    top: -8rem;
    z-index: 1;
}
.about-group{
    display: grid;
    grid-template-rows: 40% 51%;

}
.about__image{
    position: relative;
    width: 40%;
}

.about__image-bg{
    width: 16rem;
    height: 12rem;
    position: absolute;
    bottom: 0;
    background: var(--color-bg-4);
    left: 5rem ;
}
.about__image-lg{
    position: relative;
    top: 8rem;
    left: 6rem;
    bottom: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: 500ms ease;
}
.about__image-sm{
    position: absolute;
    top: 13rem;
    left: 12rem;
    transition: 500ms ease;
}
.event{
    width: 74%;
}

.about__image:hover .about__image-lg{
    filter: saturate(1) brightness(1);
}
.about__right p{
    width: 50%;
    margin-left: 45%;
    margin-top: 0;
}
footer{
    margin-top: 7rem;
}
.footer__container{
border-top: 0.5rem solid var(--color-bg-4);
padding-top: 5rem;
}
.footer__head{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.footer__btn{
    width: 5rem;
    height: 5rem;
    border: 0.2rem solid var(--color-primary-variant);
    border-radius:50% ;
    color: var(--color-primary-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}
.footer__btn:hover{
    transform: translateY(-1rem);
}
.footer__links{
    margin: 3rem 0 5rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}


@media screen and (max-width:1024px){
   .container{
    width: var(--container-width-md);
    position: relative;
   }

   h1{
    font-size: 2.5rem;
    line-height: 1.3;
   }
   h2{
    font-size: 2.5rem;
   }
   .nav__socials{
    display: none;
   }
   .nav__links{
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 0;
    display: none;
   }
   .nav__links li{
    height: 5rem;
   }
   .nav__links li a{
    background: var(--color-bg-4);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 5rem 1rem 3rem;
    border-top: 1px solid var(--color-bg-2);
   }
   .nav__toggle-btn{
    display: inline-block;
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
    color: var(--color-white);
   }

   #nav__toggle-close{
    display: none;
   }
   header{
    height: fit-content;
    padding: 14rem 0 12rem;
    display: grid;
    place-items: center;
   }
   .header__image-bg, .header__image-sm{
    display: none;
   }
   .header__container{
    grid-template-columns: 40% 54%;
    gap:6%;
    margin: 0;
   }
   .header__image-lg{
    filter: saturate(1) brightness(1);
    border: 1rem solid var(--color-bg-2);
    width: 100%;
    top: 0;
    left: 0;
   }
   .header__right p {
    width: 100%;
    margin-top:1.5rem ;
   }
   .header__frames, .contact__btn{
    display: none;
   }
   .header__btn-md{
    color: var(--color-bg-1);
    margin-top: 2rem;
    display: inline-block;
    padding: 0.6rem 1.6rem;
    font-weight: 600;
    background: var(--color-primary-variant);
    border-radius: 0.3rem;
   }

   .about__container{
    grid-template-columns: 40% 54%;
    gap: 6%;
   }
   .about__image-bg{
    display: none;
   }
   .event{
    width: 80%;
   margin-left: 0rem;
   }
   .about__right {
     margin-left:9%;
     margin-top: -4rem;
   }
}

@media screen and (max-width:770px){
    .events{
        width: 60px;
        margin-left: -6rem;
    }
    .about__right p{
        line-height: 1.2;

    }
    .footer__title{
        font-size: 2.1rem;
    }
    .footer__btn{
        width: 2.5rem;
        height: 2.5rem;
    }
}


@media screen and (max-width:600px){
    h1,h2{
        font-size: 2rem;
        line-height: 1.3;
        color: var(--color-white);
    }
    header{
        padding: 0;
        padding-bottom:6rem ;
    }
    .header__container{
        grid-template-columns: 1fr;
        gap: 1rem;
        text-align: center;
    }
    .nav__toggle-btn{
        right: -11rem;
    }
    .header__image-lg{
        filter: saturate(1) brightness(1);
        border: 1rem solid var(--color-bg-2);
        width: 100%;
        top: 8rem;
        left: 0;
    }
    .header__right h1{
        padding-top: 10rem;
    }
    .event{
        width: 20rem;
       margin-top: -5rem;
       margin-left: -4rem;
    }
    .about__right p{
        width: 20rem;
        margin-left: 0rem;
        margin-top: 6rem;
        padding-bottom: 0;
    }
    .footer__title{
        width: 15rem;
        font-size: 0.9rem;
        display: block;
    }
    .footer__container{
        border-top: none;
    }
    
}